*{
    margin: 0;
    padding: 0;
}

/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */

.btn-primary{
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    cursor: pointer;
    border:0;
    margin-top: 15px;
    
    
}
/* header styles */

header{
    /* width: 1920px;
    height: 1322px; */
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    
    justify-content:space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 90px;
}
nav > ul {
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 90px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313 ;
    margin-bottom: 10px;
    
}
.banner-description{
   color: #727272;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* responsive media queries */
/* moblie devices */
@media screen and (max-width:576px) {
    header{
    
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
  
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
    
        padding: 50px;
    }
    
    nav{
        flex-direction: column;
    }
}
/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container{
    display: flex;
   
    align-items: center;
 
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.Quick-list{
    color: var(--Dark-03, #727272);
    font-weight: 500;
}
.of-Our{
    color: var(--Dark-01, #131313);
    font-weight: 700;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
